<% if (locals.error) { %>
    <div class="alert alert-danger" style="width: 30%; margin-left: 35%;" role="alert">
      <%= locals.error %> 
    </div>
  <% } %>

<% if (locals.message) { %>
  <div class="alert alert-success" role="alert">
    <%= locals.message %>
  </div>
<% } %>
