<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <%- include('./partials/head') %>
</head>
<body>
    
    <div class="container-lg">
        <div class="container mx-4 my-4">
            <h1 class="text-primary">About Us</h1>
            <p class="fw-semibold fs-4">
                At RECIPE, we’re dedicated to transforming the way you cook by harnessing the power of AI. 
                Our mission is to make delicious, personalized recipes accessible to everyone, no matter their cooking skill level.
            </p>
        </div>
        <div class="container mx-4 my-4 fs-4">
            <h3 class="text-secondary">Meet the Team</h3>
            <p class="fw-semibold">
                We’re a diverse group of food enthusiasts, tech experts, and AI aficionados passionate about making cooking easier
                and more enjoyable. Prashant, our visionary founder, combines a love for culinary arts with cutting-edge 
                technology to bring you the best recipes.
            </p>
        </div>
        <div class="container mx-4 my-4 fs-4">
            <h3 class="text-secondary">Our Story</h3>
            <p class="fw-medium">
                RECIPE started with a simple idea: to combine our love for cooking with the power of AI. 
                What began as a small project in 2024 has grown into a comprehensive platform designed to simplify 
                meal planning and inspire creativity in the kitchen.
            </p>
        </div>
        <div class="container mx-4 my-4 fs-4">
            <h3 class="text-secondary">Our Values</h3>
            <p class="fw-medium">
                We believe in innovation, accessibility, and sustainability. Our vision is to continually enhance our 
                AI technology to provide even more personalized cooking experiences and to contribute to a more sustainable food future.
            </p>
        </div>
        <div class="container mx-4 my-4 fs-4">
            <h3 class="text-center text-info-emphasis">What our users say</h3>
            <p class="fw-medium text-center">
                "Our users rave about the personalized recipes and ease of use."
            </p>
        </div>
        <div class="container mx-4 my-4 fs-4">
            <h3 class="text-center text-info-emphasis">Get in Touch</h3>
            <p class="fw-medium text-center">
                Ready to revolutionize your cooking experience? Explore our website, sign up for our newsletter for the latest recipes and tips,
                or follow us on social media to stay connected. Contact us at: <a href="mailto:prashantlodhi2599@gmail.com">Send email</a> or follow us on [social media platforms].
            </p>
        </div>
    </div>

    <%- include('./partials/head') %>
</body>
</html>