<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup/Signin</title>

    <link rel="stylesheet" href="/stylesheets/login.css">

    <%- include('./partials/head') %>
    
</head>
<body>
    
    <div class="container right-panel-active"> 
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="/user/signup" method="POST" class="form" name="signup-form" id="form1" >
                <h2 class="form__title">Sign Up</h2>
                <input type="text" placeholder="username" class="input"  name="username"/>
                <input type="email" placeholder="example@gmail.com" class="input" name="email"/>
                <input type="password" placeholder="Password" class="input" name="password"/>
                <button class="btn" type="submit">Sign Up</button>
            </form>
        </div>
    
        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/user/signin" method="POST" class="form" name="signin-form" id="form2" >
                <h2 class="form__title">Sign In</h2>
                <input type="email" placeholder="Email" class="input" name="email"/>
                <input type="password" placeholder="Password" class="input" name="password" />
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn" type="submit">Sign In</button>
            </form>
        </div>
        
        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/scripts') %>
</body>
<script src="/javascripts/login.js"></script>
</html>