<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>

    <link rel="stylesheet" href="/stylesheets/register.css">
    <%- include('./partials/head') %>
</head>
<body>
    <div class="outer-container">

      <div class="left-container">
        <%- include('./partials/errors') %>
          
        <div class="heading-container mt-4 mx-4">
            <h3>Create an Account</h3>
            <h6>Don't have an account  <a href="/user/signup" class="text-muted">Signup</a></h6>
        </div>
        <div class="form-container mt-4">
            <form id="authForm" method="post">
                <input type="hidden" id="context" name="context" value="aiSearch">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-secondary" id="signIn">Signin</button>
                </div>
            </form>
        </div>
      </div>
      <div class="right-container">
        <div class="thought">
            <span> One who you all need to: <br></span>
            <span id="element"></span>
        </div>   
      </div>
    </div>
    <%- include('./partials/scripts') %>
</body>
<!-- <script src="/javascripts/login.js" /> -->
 <script>
        const authForm = document.getElementById('authForm');
        const context = document.getElementById('context');
        if(context === 'aiSearch'){
          form.action = '/user/signin';
        }else{
          form.action = '/blog/signin';
        }
 </script>
     <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

 <script>
  var typed = new Typed('#element', {
    strings: ['Bake something for your loved one.', 'For a perfect date night.', 'To make you feel special.', 'Refresh your mind.'],
    typeSpeed: 80,
    loop: true,
  });
</script>
</html>