<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube data</title>
    <link rel="stylesheet" href="/stylesheets/utube.css">
</head>
    <!-- <script defer src="./app.js"></script> -->
<body>
    <h1>Desired Response videos</h1>
    <div class="video-grid">
        <div class="loader"></div>
        <% if (videos && videos.length > 0) { %>
            <% videos.forEach(function(element) { %>
                <div class="video-item">
                    <a target="_blank" href="https://www.youtube.com/watch?v=<%= element.id.videoId %>">
                        <img src="<%= element.snippet.thumbnails.high.url %>" alt="recipe_photo" />
                    </a>
                    <h3><%= element.snippet.title %></h3>
                </div>
            <% }); %>
        <% } else { %>
            <p>No videos found.</p>
        <% } %>
    </div>
    
</body>
</html>