<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube data</title>
    <link rel="stylesheet" href="/stylesheets/utube.css">
</head>
    <!-- <script defer src="./app.js"></script> -->
<body>
    <h1>Desired Response videos</h1>
    <div class="video-grid">
        <div class="loader"></div>
    </div>
   
    <script>
        const YOUTUBE_APIKEY = "<%= youtube_apiKey %>";
        const queryData = "<%= textData %>";
    </script>
  

    <script defer src="/javascripts/utube.js"></script>
</body>
</html>