body {
    font-size: 18px;
    font-family: "Merriweather", serif;
    line-height: 1.5;
    text-align: left;
    background-color: black;
    color: #292f36;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #btn-primary{
    width: 180px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    background-color: #508f8b;
    border-radius: 8px;
    border: none;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    padding: 16px 0 8px 0;
  }
  
  h3 {
    font-size: 18px;
    margin: 0;
    padding: 12px 0 8px 0;
  }
  
  p {
    margin: 8px 0;
  }
  
  .container {
    margin: 64px auto;
    padding: 40px;
    width: 720px;
    border-radius: 24px;
    background-color: #201f1f;
    box-shadow: rgba(246, 232, 232, 0.926) 0px 10px 50px;
  }
  
  form {
    display: flex;
    padding: 0 0 12px 0;
  }
  
  .instructions {
    padding: 16px;
    border: 1px solid #9fa4a9;
    border-radius: 48px;
    font-size: 18px;
    width: 80%;
    color: #292f36;
  }
  
  .submit-button {
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #21c063;
    border-radius: 48px;
    border: none;
    padding: 16px 24px;
    margin-left: 12px;
  }

  .button{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #d11717;
    border-radius: 48px;
    border: none;
    padding: 16px 24px;
    margin-left: 12px;
  }
  .youtube{
    display: flex;
    justify-content: center;
  }
  
  
  .hidden {
    display: none;
  }
  
  .recipe {
    line-height: 2;
    background-color: #f7f7f7;
    border-left: 6px solid #508f8b;
    border-radius: 0 12px 12px 0;
    padding: 12px 24px;
  }
  
  em {
    color: #508f8b;
    margin-top: 24px;
  }
  
  .hints {
    font-size: 14px;
    color: #6a7888;
    margin-left: 10px;
    padding-bottom: 24px;
  }
  
  .blink {
    animation: blink 1s linear infinite;
  }
  
  h3{
    color: black;
  }
  
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* footer {
    font-size: 14px;
    color: #6a7888;
    text-align: center;
    margin-top: auto;
    padding-bottom: 16px;
  }
   */
  a {
    color: #3c958f;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover {
    text-decoration: underline;
  }


/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 90%; 
    margin: 32px auto;
    padding: 20px; 
  }

  form {
    flex-direction: column; 
    align-items: center;
  }

  #btn-primary{
    width: 100px;
  }
  .instructions {
    width: 100%; 
    margin-bottom: 12px;
  }

  .submit-button {
    width: 150px;
    padding: 12px; 
    margin-left: 0; 
  }

  .button {
    width: 150px; 
    margin-left: 0;
    margin-top: 12px;
  }

  h1 {
    font-size: 24px; 
    margin-bottom: 16px;
  }

  .hints {
    font-size: 12px; 
    text-align: center;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  body {
    font-size: 16px; 
    overflow-x: hidden;
  }
  #inputValue{
    width: 300px;
  }

  #btn-primary {
    width: 150px; 
    height: 40px;
    font-size: 16px;
  }

  .instructions {
    font-size: 16px;
    padding: 12px; 
  }

  .submit-button{
    width: 150px;
  }
  .button {
    width: 200px;
    font-size: 16px; 
    padding: 10px;
  }

  h1 {
    font-size: 20px; 
  }

  .loader {
    width: 30px;
    height: 30px;
  }
}
