.outer-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.left-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    /* color: white; */
}
#floatingInput {
    background-color: black;
    color: white;
}
#floatingPassword {
    background-color: black;
    color: white;
}
.form-floating label {
    color: white;
}


.heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color:  white;
}
.form-container{
    /* max-width: max-content; */
    padding: 0 20%;
    /* color: white; */
    background-color: black;

}


.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 21, 80);
}
.thought span{
    margin-left: 15px;
    text-align: left;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    margin-left: 20px;    
}

h6{
    display: flex;
    font-weight: 400;
    /* color: rgb(247, 213, 213); */
}
 h6 > a {
    text-decoration: none;
    background-color: white;
    padding: 2px 2px;
    color: whitesmoke;   /* Use !important if needed */
    margin-left: 12px;
    border-radius: 4px;
}


.button{
    display: flex;
    justify-content: start;
    margin-top: 16px;
    width: 200px;

}